name: Run tests

on:
  push:
    branches:
      - main
    tags: '*'
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        julia-version:
          - '~1.7.0-beta4'
          - 'nightly'
      fail-fast: false
    name: Test Julia ${{ matrix.julia-version }}
    steps:
      - uses: actions/checkout@v2
      - uses: julia-actions/setup-julia@v1
        with:
          version: ${{ matrix.julia-version }}
      - run: julia -e 'using Pkg; Pkg.add(name="Run", version="0.1")'
      - run: julia -e 'using Run; Run.prepare("test/environments/main")'
      - run: julia -e 'using Run; Run.test(project="test/environments/main")'
      - uses: julia-actions/julia-processcoverage@v1
      - uses: codecov/codecov-action@v1
        with:
          file: ./lcov.info
          flags: Run.test
          name: codecov-umbrella
